# ===================== DO CONFIG VARS =======================
do_token = "dop_v1..."

# ============================== DOKS CONFIG ==============================

doks_cluster_name_prefix = "k8s-bootstrapper"
doks_k8s_version         = "1.25"
doks_cluster_region      = "ams3"

# Main pool configuration (REQUIRED)

doks_default_node_pool = {
  name       = "bootstrapper-main"
  node_count = 3
  size       = "s-2vcpu-4gb"
  auto_scale = true
  min_nodes  = 3
  max_nodes  = 5  
}

# Create additional DOKS node pools 
# Dedicated node pools are useful to spread the load 
# Created by each component, such as: observer (OPTIONAL)

doks_additional_node_pools = {
  "bootstrapper-observer" = {
    node_count = 1
    size       = "s-2vcpu-4gb"
  }
}

# ======================= DIGITALOCEAN CONTAINER REGISTRY (DOCR) =========================
# Set the flag to 'true' to enable DOCR
enable_container_registry        = false

